#store-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
        padding-top:2rem;
        width: 100%;
        height: 480px;
        object-fit: cover;
        object-position: center 36%;
    }
}

.about-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
}

.about-card{
    padding: 3rem;
    width: 41%;
    background-color: rgb(234, 234, 234);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#item-card{
    padding: 3rem;
    width: 25%;
    background-color: rgb(234, 234, 234);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.store-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description{
    padding-top: 1rem;
}
.description-item{
    margin: 0;
    padding: .35rem;
}

a{
    color: rgb(48, 48, 48);
}

a:hover{
    color: lightgrey;
}

